<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr>
    <form [formGroup]="editPostForm" (ngSubmit)="onUpdatePost()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title">
        <div *ngIf="editPostForm.get('title')?.touched &&  !editPostForm.get('title')?.valid">
          <div *ngIf="editPostForm.get('title')?.errors"></div><span>please enter valid title.</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="description" rows="3" class="form-control" formControlName="description"></textarea>
        <div *ngIf="editPostForm.get('description')?.touched &&  !editPostForm.get('description')?.valid"><span
            *ngIf="editPostForm.get('description')?.errors"></span></div>
      </div>
      <div><button type="submit" class="btn btn-primary" [disabled]="!editPostForm.valid">Update</button></div>
    </form>
  </div>
</div>
